
.azeret-mono-normal-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


/* header style */


header{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-area{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}
img{
    margin-top: 20px;
    width: 173.03px;
   
}
.header-title{
    font-size: 40px;
    font-weight: 750;
}
.header-description{
   color: rgba(13, 19, 33, 0.7);
   text-align: center;
}
.btn{
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    border: none;
    cursor: pointer;
    margin: 25px;
}
.btn-2{
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 25px;
}

/* section style */
main{
    padding: 120px;
}
.border-r{
    padding: 20px 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 100px;
}
.padding-r{
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 20px;
    width: 946px;
    height: 336px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.margin-r{
    padding:0 50px;
}


.section-title-des{
    text-align: center;
}
.section-title{
    font-size: 20px;
    font-weight: 800;
}
.section-title-2{
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.layer-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0px;
}
.layer-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0px;
}
.layer-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0px;
}
.first-row{
    width: 850px;
    align-items: center;
}
.text-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.text-title{
    text-align: center;
    margin: 20px;
}
.section-iframe {
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 15px;
    border-radius: 16px;
    width: 1080px;
    height: 700px;
}
iframe{
    border-radius: 16px;
}
.padding-r2{
    padding: 64px;
}
.img-1{
    width: 39.68px;
    height: 45px;
}
.raw-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.bg-1{
    width: 300px;
    height: 250px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;

}
.bg-2{
    width: 300px;
    height: 250px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;

}
.bg-3{
    width: 300px;
    height: 250px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;

}
.ancor-tag{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}



/* shared style */
.title{
  font-size: 20px;
  font-weight: 700;
}
.title-description{
    color: rgba(13, 19, 33, 0.7);
}
.title-description-2{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}
.button-all{
color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 500;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 8px 12px;
border-radius: 8px;
}
.title-padding{
    padding: 20px;
}


/* footer style */

.bg-img{
    background-image: url("../assets/handshake.jpg");
    margin: 0 auto;
    background-size: cover;
    width: 1140px;
    height: 314px;
    margin-bottom: 50px;
    border-radius: 16px;
    background-position: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);

}
.display-f{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.txt-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.txt-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.txt-area-1{
text-align: center;
width: 400px;
height: 48px;
margin: 10px auto;
border-radius: 8px;
background: rgb(255, 255, 255);
}
.submit-btn{
width: 150px;
height: 52px;
text-align: center;
border-radius: 8px;
background: rgb(255, 255, 255);
} 

